{% extends "base.html" %}

{% block title %}
{{ kwords }}
{% endblock %}

{% load i18n %}
{% block content %}
<div class="row-fluid">
    <div id="searchtop">
    <div class="span2" id="logo">
        <a href="{% url suibian.views.home %}">
            <img style="margin-top: -20px;" src="{{ STATIC_URL }}img/suibian.png"/> 
        </a>
    </div>
    <div class="span8" id="mainsearch">
        <div class="pull-left">
            <form class="form-search" method="get" action="">
                <input type="text" class=search-query" name="kwords" value="{{ kwords }}" />
                <input type="submit" class="btn" value="{% trans "search" %}" />
            </form>
        </div>
    </div>
    </div>

    <div class="clearfix"> </div>

    <div class="row-fluid">
        <div class="span2" id="menu">
            put some dummy menu here
        </div>
        <div class="span8" id="results">
            <div id="resultinfo">
                find {{ results|length }} result{{ results|pluralize }}
            </div>

            {% for result in results %}
            <div class="result">
                <div class="title">
                    <a href="{{ result.0 }}" target="_blank">{{ result.1 }}</a>
                </div>
                <div class="url"><small>{{ result.0 }}</small></div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


